.container{
display: grid;
height: 100vh;
grid-template-rows: 1fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr ;
grid-template-columns: 1fr 2fr 1fr;
grid-template-areas:
"nav main sidebar "
"content1 content3 content3"
"content1 content4 content4"
"content1 content5 content5"
"content1 content6 content6"
"content1 content7 content7"
 ;


}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 15px;
}
nav{
    text-align: center;
    border-style: solid;
    border-width: 1px;
    font-style: bold;
}
main{
    border-style: solid;
    border-width: 1px;
    font-style: bold;
    
}
#sidebar{
    text-align: center;
    border-style: solid;
    border-width: 1px;
    
}
#content1{
    text-align: center;
    grid-area: content1;
    font-style: bold;
    border: solid 1px;
}
img{
    height: 400px;
    width: 900px;
    display: center;
    align-items: center;
}
#content3{
    background-color: yellow;
    grid-area: content3;
    
}
#content4{
    background-color: aqua;
    grid-area: content4;
    border-left: 1px;
}
#content5{
    background-color: blue;
    grid-area: content5;
    border-left: 1px;
}
#content6{
    background-color: rgb(130, 228, 130);
    grid-area: content6;
    border-width: 1px;
}
#content7{
    background-color: blueviolet;
    grid-area: content7;
    border-left: 1px;
}  
@media(max-width:576px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 2fr 2fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "nav"
        "main"
        "sidebar"
        "content1"
        "content3"
        "content4"
        "content5"
        "content6"
        "content7"
        ;
    }
        
}
